@model FFK.ViewModels.StoryViewModel
@using FFK.Models
@{
    ViewData["Title"] = "Home Page";
}

<div class="row border-0">
   
   
    
    <div class="col-md-10">
        @await Html.PartialAsync("_StoriesOnHomePage")
    </div>
    <div div class="col-md-2">
        <p>TAGS CLOUD</p>
    </div>
    
</div>

