@{
    ViewData["Title"] = "Admin page";
}

<ul class="list-group border-left ">
    <li class="list-group-item ">
        <a asp-controller="Admin" asp-action="GetAllUsers">Authors</a>
    </li>
    <li class="list-group-item ">
        <a asp-controller="Admin" asp-action="GetAllRoles">Roles</a>
    </li>
    <li class="list-group-item ">
        <a asp-controller="Admin" asp-action="GetAllCategories">Categories</a>
    </li>
    <li class="list-group-item  ">
        <a asp-controller="Admin" asp-action="GetAllTags">Tags</a>
    </li>
    <li class="list-group-item  ">
        <a asp-controller="Admin" asp-action="AdminPage">Stories</a>
    </li>


</ul>