@model IEnumerable<FFK.Models.Tag>

@{
    ViewData["Title"] = "GetAllTags";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GetAllTags</h1>

<p>
    <a asp-action="CreateTag" asp-controller="Tag">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            
        </tr>
}
    </tbody>
</table>
