@model IEnumerable<FFK.Models.User>


<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            @*<td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-controller="Role" asp-route-userid="@user.Id">Права доступа</a>
            </td>*@
        </tr>
    }
</table>