@model IEnumerable<FFK.Models.Tag>

@{
    ViewData["Title"] = "GetAllTags";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row border-dark">
    <div class="col-md-2">
        @await Html.PartialAsync("_AdminPageLayout")
    </div>
    <div div class="col-md-10">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>

                    </tr>
                }
            </tbody>
        </table>
        </div>
    </div>
