@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "GetAllRoles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row border-dark">
    <div class="col-md-2">
        @await Html.PartialAsync("_AdminPageLayout")
    </div>
    <div div class="col-md-10">

        <table class="table">
            @foreach (var role in Model)
            {
                <tr>
                    <td>@role.Name</td>
                    <td>
                        @role.Id
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
